# General MATLAB backups and cache
slprj/
*.asv
*.slxc
*.slx.autosave
*.slx.original
*.mat~
*.m~
*.mex*
*.log
*.fig
*.mexw64
*.mexmaci64
*.mexa64

# Code generator files
codegen/
*.c

# SolidWorks temporary files
~$*.sldprt
~$*.sldasm
~$*.sld
~$*.SLDPRT
~$*.SLDASM
~$*.SLD

# SolidWorks backups and auto-recovery
*.bak
*.swbak


# Control test files
WristControl.slx
InitController.m


# ignore changes in the following files for now
solidworks/
examples/